
.vs/Algorytmy2/v15/Server/sqlite3/storage.ide-wal
.vs/Algorytmy2/v15/.suo
.vs/Algorytmy2/v15/Server/sqlite3/db.lock
.vs/Algorytmy2/v15/Server/sqlite3/storage.ide
.vs/Algorytmy2/v15/Server/sqlite3/storage.ide-shm
Algorytmy2/Algorytmy2.csproj
Algorytmy2/Algorytmy2.csproj
Algorytmy2/bin/Debug/Algorytmy2.exe
Algorytmy2/bin/Debug/Algorytmy2.pdb
Algorytmy2/Algorytmy2.csproj
Algorytmy2/bin/Debug/Algorytmy2.exe
packages/System.Collections.4.3.0/ref/netcore50/it/System.Collections.xml
*.cs
*.cs
*.csproj
packages/Microsoft.NETCore.Platforms.1.1.0/.signature.p7s
packages/Microsoft.NETCore.Platforms.1.1.0/dotnet_library_license.txt
packages/Microsoft.NETCore.Platforms.1.1.0/lib/netstandard1.0/_._
